<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
  <Document>
    <TMPL_LOOP NAME=POINT>
    <Placemark>
      <name><TMPL_VAR NAME=NAME></name>
      <description><![CDATA[<a href="<TMPL_VAR NAME=URL>"><img width=<TMPL_VAR NAME=WIDTH> height=<TMPL_VAR NAME=HEIGHT> src="<TMPL_VAR NAME=URL>"></a>]]></description>
      <Point>
        <coordinates><TMPL_VAR NAME=COORDS></coordinates>
      </Point>
    </Placemark>
    </TMPL_LOOP>
  </Document>
</kml>
